.additional {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 20px 0px;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 70px;
    .additionalHead {
        text-align: center;
        position: relative;
        p {
            display: inline-block;
            padding: 15px 20px;
            background-color: $primarycolor;
            color: white;
            font-size: 16pt;
            position: relative;
            z-index: 10;
        }
        &::before {
            width: 38%;
            height: 10%;
            top: 46%;
            content: "";
            position: absolute;
            left: 0%;
            background-color: $primarycolor;
        }
        &::after {
            width: 34%;
            height: 10%;
            top: 46%;
            content: "";
            position: absolute;
            right: 4%;
            background-color: $primarycolor;
        }
    }
    .message {
        position: relative;
        color: white;
        font-size: 16pt;
        background-color: $primarycolor;
        width: 100%;
        height: 60px;
        line-height: 60px;
        padding-left: 30px;
        text-transform: uppercase;
    }
    .additionalContent {
        margin: 50px 50px 50px 20px;
        padding: 0px 20px;
        border-bottom: 2px solid $secondarycolor;
        .additionalContentIcon {
            display: inline-block;
            position: absolute;
            left: -10px;
            padding-right: 5px;
            img {
                height: 27px;
                width: 27px;
            }
            i {
                font-size: 22px;
            }
        }
        .additionalContentHead {
            display: inline-block;
            position: relative;
            margin-left: 7px;
            p {
                font-size: 16pt;
            }
        }
        .additionalContentForum {
            float: right;
            display: inline-block;
            a {
                font-style: italic;
                color: $primarycolor;
                text-decoration: none;
                font-size: 12pt;
                line-height: 40px;
            }
        }
        .additionalContentForumIcon {
            float: right;
            display: inline-block;
            margin-left: 10px;
            width: 40px;
            height: 40px;
            background-image: url(../img/discussion.jpg);
            background-size: cover;
        }
        .additionalContentBody {
            padding: 25px 32px;
            display: block;
            p {
                font-size: 13pt;
            }
            .video {
                display: block;
                width: 400px;
            }
            audio {
                display: block;
            }
        }
        .additionalContentType {
            display: inline-block;
            ul {
                margin-bottom: 0px;
                list-style: none;
                li {
                    display: inline-block;
                    a {
                        position: relative;
                        z-index: 6454;
                        color: black;
                        text-decoration: none;
                        font-style: italic;
                    }
                }
                li:first-child {
                    margin-right: 20px;
                    position: relative;
                    a {
                        z-index: 6454;
                        position: relative;
                        background-color: $secondarycolor;
                    }
                    &::before {
                        top: 0px;
                        left: -10px;
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transform: skew(-22deg);
                        background-color: $secondarycolor;
                    }
                    &::after {
                        top: 0px;
                        right: -10px;
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transform: skew(-22deg);
                        background-color: $secondarycolor;
                    }
                }
            }
        }
        .additionalContentAndSo {
            float: right;
            a {
                color: $primarycolor;
                text-decoration: none;
                font-style: italic;
            }
        }
    }
    .sendMessage {
        //margin-left: 50px;
        padding: 30px 0px;
        text-align: center;
        .sendMessageButton {
            display: inline-block;
            a {
                font-size: 13pt;
                padding: 10px 20px;
                background-color: $thirdcolor;
                text-decoration: none;
                color: black;
                margin-left: 15px;
            }
        }
        .sendMessageIcon {
            display: inline-block;
            i {
                img {
                    margin: 10px;
                    width: 70px;
                }
            }
        }
    }
    .viewed {
        position: relative;
        color: white;
        padding: 15px 0px 15px 30px;
        font-size: 16pt;
        background-color: $primarycolor;
        text-transform: uppercase;
    }
    .viewedContent {
        .video {
            padding-top: 25px;
        }
        ul {
            padding: 25px 0px 0px 20px;
            list-style: none;
            li {
                margin-bottom: 10px;
                .viewedContentIcon {
                    display: inline-block;
                    padding-right: 5px;
                    img {
                        height: 27px;
                        width: 27px;
                    }
                    i {
                        font-size: 22px;
                    }
                }
                .viewedContentAbout {
                    display: inline-block;
                    a {
                        font-size: 16pt;
                        color: black;
                        border-bottom: 1px solid black;
                        text-decoration: none;
                    }
                }
                @media screen and (max-width:767px) {
                    .viewedContentAbout {
                        display: inline-block;
                        a {
                             
                            border-bottom: 1px solid black !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 702px) {
    .additionalContentBody {
        .video {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 1004px) {
    #responsiveViewedFirst {
        &::after {
            left: -28px !important;
            border-width: 0px 0px 92px 29px !important;
        }
    }
}

@media screen and (max-width: 983px) {
    #responsiveViewedSecond {
        &::after {
            left: -28px !important;
            border-width: 0px 0px 92px 29px !important;
        }
    }
}

@media screen and (max-width: 768px) {
    .rubrikaContentCategories {
        margin: 0px !important; //margin-top: 10px !important;
    }
    .contentMain {
        padding: 20px 0px !important;
        padding-bottom: 15px !important;
    }
    .viewed {
        &::after {
            border: none !important;
        }
    }
    .message {
        border: none !important;
    }
    .additionalContent {
        margin: 0px 0px !important;
        //margin-top: 20px !important;
    }
    .additionalContentBody {
        padding: 25px 0px !important;
    }
    .additionalContentType {
        margin: 0px !important;
    }
}

@media screen and (max-width: 440px) {
    .additionalContentBody {
        audio {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .viewedContent {
        text-align: center !important;
    }
}

@media screen and (max-width: 767px) {
    .viewedContent {
        text-align: left !important;
    }
   
}


// @media screen and (max-width: 786px) {
//     .additionalCenter{
//         margin-top: 10px;
//         text-align: center;
//         .additionalContentIcon{
//             display: block !important;
//             margin: 5px 0px !important;
//         }
//         .additionalContentHead {
//             display: block !important;
//             margin: 5px 0px !important;
//         }
//         .additionalContentForumIcon {
//             display: block !important;
//             float: none !important;
//             margin: 0px auto !important;
//             padding: 5px 0px !important;
//         }
//         .additionalContentForum {
//             display: block !important;
//             float: none !important; 
//             margin-top: 5px  !important;
//         }
//     }
//     .sendMessageButton {
//         a {
//            padding: 10px 5px !important;
//         }
//     }
// }


@media screen and (max-width: 470px) {
    .additionalTypeCenter {
        text-align: center;
        .additionalContentType {
            display: block !important;
            float: none !important;
            ul {
                padding: 0px !important;
            }
        }
        .additionalContentAndSo {
            display: block !important;
            float: none !important;
            margin-top: 10px !important;
        }
    }
}

@media screen and (min-width:570px) {
    .additionalContentTextIcon {
        display: inline-block;
    }
}

// @media screen and (max-width:767px) {
//     .sendMessage {
//         margin-left: 50px !important;
        
//         text-align: left !important;
//     }
    
// }