.additional {
    padding: 20px 0px;
    position: relative;
    margin-bottom: 75px;
    .additionalHead {
        text-align: center;
        position: relative;
        p {
            display: inline-block;
            padding: 10px 20px;
            background-color: $primarycolor;
            color: white;
            font-size: 16pt;
            position: relative;
            z-index: 10;
            &::before {
                top: 0px;
                right: -28px;
                content: "";
                position: absolute;
                border-style: solid;
                border-width: 51px 29px 0 0px;
                border-color: $primarycolor transparent transparent transparent;
            }
            &::after {
                top: 0px;
                left: -28px;
                content: "";
                position: absolute;
                border-style: solid;
                border-width: 0px 0px 51px 29px;
                border-color: transparent transparent $primarycolor transparent;
            }
        }
        &::before {
            width: 38%;
            height: 10%;
            top: 46%;
            content: "";
            position: absolute;
            left: 0%;
            background-color: $primarycolor;
        }
        &::after {
            width: 34%;
            height: 10%;
            top: 46%;
            content: "";
            position: absolute;
            right: 4%;
            background-color: $primarycolor;
        }
    }
    .message {
        position: relative;
        color: white;
        padding: 15px 0px 15px 30px;
        font-size: 16pt;
        background-color: $primarycolor;
        text-transform: uppercase;
        &::after {
            top: 0px;
            left: -28px;
            content: "";
            position: absolute;
            border-style: solid;
            border-width: 0px 0px 61px 29px;
            border-color: transparent transparent $primarycolor transparent;
        }
    }
    .additionalContent {
        margin: 50px 50px 50px 20px;
        border-bottom: 2px solid $thirdcolor;
        .additionalContentIcon {
            display: inline-block;
            i {
                font-size: 22pt;
                padding-right: 5px;
            }
        }
        .additionalContentHead {
            display: inline-block;
            p {
                font-size: 16pt;
            }
        }
        .additionalContentForum {
            float: right;
            display: inline-block;
            a {
                text-decoration: none;
                color: black;
                font-size: 12pt;
                line-height: 50px;
            }
        }
        .additionalContentForumIcon {
            float: right;
            display: inline-block;
            i {
                font-size: 22pt;
                padding-left: 10px;
            }
        }
        .additionalContentBody {
            padding: 50px 20px;
            p {
                font-size: 16pt;
            }
            .video {
                width: 400px;
            }
        }
        .additionalContentType {
            ul {
                list-style: none;
                li {
                    display: inline-block;
                    a {
                        color: black;
                        text-decoration: none;
                        font-style: italic;
                    }
                }
            }
        }
        .additionalContentAndSo {
            float: right;
            a {
                color: black;
                text-decoration: none;
                font-style: italic;
            }
        }
    }
    .sendMessage {
        text-align: center;
        padding: 75px 0px;
        .sendMessageButton {
            display: inline-block;
            a {
                font-size: 20pt;
                padding: 10px 20px;
                background-color: $thirdcolor;
                text-decoration: none;
                color: black;
            }
        }
        .sendMessageIcon {
            display: inline-block;
            i {
                padding: 10px 20px;
                font-size: 30pt
            }
        }
    }
    .viewed {
        position: relative;
        color: white;
        padding: 15px 0px 15px 30px;
        font-size: 16pt;
        background-color: $primarycolor;
        text-transform: uppercase;
        &::after {
            top: 0px;
            left: -28px;
            content: "";
            position: absolute;
            border-style: solid;
            border-width: 0px 0px 61px 29px;
            border-color: transparent transparent $primarycolor transparent;
        }
    }
    .viewedContent {
        margin-bottom: 30px;
        .video {
            padding: 10px 0px;

        }
        ul {
            padding: 50px 0px;
            list-style: none;
            li {
                margin-bottom: 20px;
                .viewedContentIcon {
                    display: inline-block;
                    i {
                        font-size: 20pt;
                    }
                }
                .viewedContentAbout {
                    display: inline-block;
                    a {
                        font-size: 20pt;
                        color: black;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 702px) {
    .additionalContentBody {
        .video {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 1004px) {
    #responsiveViewedFirst {
        &::after {
            border-width: 0px 0px 92px 29px;
        }
    }
}
@media screen and (max-width: 983px) {
    #responsiveViewedSecond {
        &::after {
            border-width: 0px 0px 92px 29px;
        }
    }
}
@media screen and (max-width: 767px) {
    .contentMain {
        padding: 30px 0px !important;
    }
    .viewed {
        &::after {
            border: none !important;
        }
    }
    .message {
        border: none !important;
    }
    .additionalContent {
        margin: 30px 0px !important;
    }
}

@media screen and (max-width: 440px) {
    .additionalContentBody {
        audio {
            width: 100%;
        }
    }
}
