.additional {
    padding: 20px 0px;
    position: relative;
    margin-bottom: 75px;
    .additionalHead {
        text-align: center;
        position: relative;
        p {
            display: inline-block;
            padding: 10px 20px;
            background-color: $primarycolor;
            color: white;
            font-size: 16pt;
            position: relative;
            z-index: 10;
            
        }
        &::before {
            width: 38%;
            height: 10%;
            top: 46%;
            content: "";
            position: absolute;
            left: 0%;
            background-color: $primarycolor;
        }
        &::after {
            width: 34%;
            height: 10%;
            top: 46%;
            content: "";
            position: absolute;
            right: 4%;
            background-color: $primarycolor;
        }
    }
    .message {
        position: relative;
        color: white;
        font-size: 16pt;
        background-color: $primarycolor;
        width: 100%;
        height: 60px;
        line-height: 60px;
        padding-left: 30px;
        text-transform: uppercase;
    }
    .additionalContent {
        margin: 50px 50px 50px 20px;
        border-bottom: 2px solid $thirdcolor;
        .additionalContentIcon {
            display: inline-block;
            i {
                font-size: 22pt;
                padding-right: 5px;
            }
        }
        .additionalContentHead {
            display: inline-block;
            p {
                font-size: 16pt;
            }
        }
        .additionalContentForum {
            float: right;
            display: inline-block;
            a {
                text-decoration: none;
                color: black;
                font-size: 12pt;
                line-height: 40px;
            }
        }
        .additionalContentForumIcon {
            float: right;
            display: inline-block;
            margin-left: 10px;
            width: 40px;
            height: 40px;
            background-image: url(../img/iconforum.png);
            background-size: cover;
        }
        .additionalContentBody {
            padding: 50px 20px;
            p {
                font-size: 16pt;
            }
            .video {
                width: 400px;
            }
        }
        .additionalContentType {
            display: inline-block;
          
            ul {
                list-style: none;
                li {
                    display: inline-block;
                    a {
                        position: relative;
                        z-index: 6454;
                        color: black;
                        text-decoration: none;
                        font-style: italic;
                    }
                }
                li:first-child {
                    margin-right: 20px;
                    position: relative;
                    a {
                
                        z-index: 6454;
                        position: relative;
                        background-color: $secondarycolor;
                       
                        
                    }
                    &::before {
                        top: 0px;
                       left: -10px;
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transform: skew(-22deg);
                        background-color: $secondarycolor;
                    }
                  

                    &::after {
                        top: 0px;
                        right: -10px;
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transform: skew(-22deg);
                        background-color: $secondarycolor;
                    }
                }
            }
        }
        .additionalContentAndSo {
            float: right;
            a {
                color: black;
                text-decoration: none;
                font-style: italic;
            }
        }
    }
    .sendMessage {
        margin-left: 50px;
        padding: 50px 0px;
        .sendMessageButton {
            display: inline-block;
            a {
                font-size: 16pt;
                padding: 10px 20px;
                background-color: $thirdcolor;
                text-decoration: none;
                color: black;
            }
        }
        .sendMessageIcon {
            display: inline-block;
            i {
                padding: 10px 20px;
                font-size: 26pt
            }
        }
    }
    .viewed {
        position: relative;
        color: white;
        padding: 15px 0px 15px 30px;
        font-size: 16pt;
        background-color: $primarycolor;
        text-transform: uppercase;

        
    }

    .viewedContent {
        
        .video {
            padding: 10px 0px;

        }
        ul {
            padding: 50px 0px 0px 0px;
            list-style: none;
            li {
                margin-bottom: 20px;
                .viewedContentIcon {
                    display: inline-block;
                    i {
                        margin-right: 10px;
                        font-size: 16pt;
                    }
                }
                .viewedContentAbout {
                    display: inline-block;
                    a {
                        font-size: 16pt;
                        color: black;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 702px) {
    .additionalContentBody {
        .video {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 1004px) {
    #responsiveViewedFirst {
        &::after {
            left: -28px !important;
            border-width: 0px 0px 92px 29px !important;
        }
    }
}
@media screen and (max-width: 983px) {
    #responsiveViewedSecond {
        &::after {
            left: -28px !important;
            border-width: 0px 0px 92px 29px !important;
        }
    }
}
@media screen and (max-width: 768px) {
    .contentMain {
        padding: 30px 0px !important;
    }
    .viewed {
        &::after {
            border: none !important;
        }
    }
    .message {
        border: none !important;
    }
    .additionalContent {
        margin: 30px 0px !important;
    }
}

@media screen and (max-width: 440px) {
    .additionalContentBody {
        audio {
            width: 100%;
        }
    }
}
