.articles {
    background-color: white;
    .articlesMain {
        margin: 0px 50px;
    }
    .contentHead {
        background-color: $thirdcolor;
    }
    .contentBody {
        border: 2px solid $thirdcolor;
        border-top-style: none;
    }
    .additionalContent {
        padding: 50px 50px 0px 20px;
        border-bottom: 2px solid $thirdcolor;
        .additionalContentIcon {
            display: inline-block;
            i {
                font-size: 22pt;
                padding-right: 5px;
            }
        }
        .additionalContentHead {
            display: inline-block;
            p {
                font-size: 16pt;
            }
        }
        .additionalContentForum {
            float: right;
            display: inline-block;
            a {
                text-decoration: none;
                font-style: italic;
                color: $primarycolor;
                font-size: 12pt;
                line-height: 40px;
            }
        }
        .additionalContentForumIcon {
            float: right;
            display: inline-block;
            margin-left: 10px;
            width: 40px;
            height: 40px;
            background-image: url(../img/iconforum.png);
            background-size: cover;
        }
        .additionalContentBody {
            p {
                padding: 20px;
                font-size: 16pt;
            }
        }
        .additionalContentType {
            display: inline-block;
            margin-top: 15px;
            ul {
                margin: 0px;
                list-style: none;
                li {
                    display: inline-block;
                    a {
                        color: black;
                        text-decoration: none;
                        font-style: italic;
                    }
                }
                li:first-child {
                    margin-right: 20px;
                    position: relative;
                    a {
                
                        z-index: 6454;
                        position: relative;
                        background-color: $secondarycolor;
                       
                        
                    }
                    &::before {
                        top: 0px;
                       left: -10px;
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transform: skew(-22deg);
                        background-color: $secondarycolor;
                    }
                  

                    &::after {
                        top: 0px;
                        right: -10px;
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transform: skew(-22deg);
                        background-color: $secondarycolor;
                    }
                }
            }
        }
        .additionalContentAndSo {
            margin-top: 15px;
            float: right;
            a {
                font-style: italic;
                color: $primarycolor;
                text-decoration: none;
            }
        }
    }
    .rubrikaContentCategories {
        margin: 50px;
        margin-top: 0px;
    }
    .viewedContent {
        ul {
            padding: 50px 0px 0px 20px;
            list-style: none;
            li {
                margin-bottom: 20px;
                .viewedContentIcon {
                    display: inline-block;
                    i {
                        font-size: 16pt;
                        margin-right: 20px;
                    }
                }
                .viewedContentAbout {
                    display: inline-block;
                    a {
                        font-size: 16pt;
                        color: black;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:786px) {
    .articlesMain {
        margin: 0px !important;
        .rubrikaContentCategories {
            
            .additionalContentBody {
                p {
                    font-size: 13pt !important;
                }
                .videoifrm {
                    width: 100% !important;
                }
            }
        }
    }
}