.audio2 {
    background-color: white;
    padding: 0px; 
    margin-bottom: 20px;
    .audio2Main {
        margin: 0px 50px;
        border: 2px solid $thirdcolor;
    }
    .contentHead {
        background-color: $thirdcolor;
    }

    .additionalContent {
        padding: 0px 0px 10px 0px;
        .additionalContentIcon {
            display: inline-block;
            i {
                font-size: 22pt;
                padding-right: 5px;
            }
        }
        .additionalContentForum {
            float: right;
            display:inline-block;
            a {
                text-decoration: none;
                color: black;
                font-size: 12pt;
                
            }
        }
        .additionalContentForumIcon {
            float: right;
            display:inline-block;
            i {
                font-size: 22pt;
                padding-left: 10px;
            }
        }
        .additionalContentHead {
            display: inline-block;
            p {
                font-size: 16pt;
                font-weight: bold;
            }
        }
        .additionalContentBody {
            padding: 20px 0px;
        }
        .additionalContentAudio {
            padding: 30px 0px;
        }
        .additionalContentType {
            padding: 15px 0px;
            ul {
                list-style: none;
                li {
                    display: inline-block;
                    a {
                        color: black;
                        padding: 0px 5px;
                        background-color: $thirdcolor;
                        text-decoration: none;
                        font-style: italic
                    }
                }
            }
        }
        .additionalContentAndSo {
            float: right;
            a {
                color: $primarycolor;
                text-decoration: none;
                font-style: italic
            }
        }
    }
    .rubrikaContentCategories {
        margin: 25px 50px 0px 50px;
        .socialLinks {
            ul {
                
                list-style: none;
                text-align: right;
                li {
                    padding: 0px 8px;
                    display: inline-block;
                    a {
                        text-decoration: none;
                        i {
                            font-size: 16pt;
                        }
                    }
                }
            }
        }
    }
    .viewedContent {
        margin-bottom: 20px;
        ul {
            padding-top: 15px;
            padding-left: 20px ;
            li {
                border-bottom: 2px solid black;
                margin: 10px 0px;
                width: 100%;
                a {
                    font-size: 16pt;
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width:786px) {
    .audio2Main {
        margin: 0px !important;
        .rubrikaContentCategories {
            margin: 0px !important;
            .additionalContentAudio {
                audio {
                    width: 100% !important;
                }    
            }
        }
        .additionalContent {
            padding: 50px 0px 10px 20px;
        }
        .additionalContentBody {
            padding: 0px !important;
        }
        .additionalContentType {
            margin: 0px !important;
        }
    }
}
@media screen and (max-width: 440px) {
    .additionalContentAudio {
        audio {
            width: 100%;
        }
    }
}