.books {
    background-color: white;
    .booksMain {
        margin: 0px 50px;
       
    }
    .contentHead {
        background-color: $thirdcolor;
        
    }
    .contentBody {
        border: 2px solid $thirdcolor;
        border-top-style: none;
    }
    .rubrikaContentCategories {
        margin: 50px;
        margin-top: 0px;
        padding-top: 20px;
        .rubrikaContentBooks {
            .rubrikaContentBooksIcon {
                display: inline-block;
                i {
                    font-size: 20pt;
                    padding-right: 5px;
                }
            }
            .rubrikaContentBooksHead {
                display: inline-block;
                p {
                    font-size: 20pt;
                }
            }
            .rubrikaContentBooksPdf {
                float: right;
                display: inline-block;
                i {
                    font-size: 20pt;
                }
            }
        }
        .rubrikaContentBooksCategory {
            padding-top: 20px;
            .rubrikaContentBooksCategoryName {
                display: inline-block;
                a {
                    font-size: 20pt;
                    color: black;
                    font-style: italic;
                    padding: 1px 5px;
                    background-color: $thirdcolor;
                    text-decoration: none;
                    position: relative;
                    font-size: 12pt;
                    &::after {
                        top: 0px;
                        right: -19px;
                        content: "";
                        position: absolute;
                        width: 15%;
                        height: 100%;
                        border-style: solid;
                        border-width: 21px 19px 0 0px;
                        border-color: $thirdcolor transparent transparent transparent;
                    }
                    &::before {
                        top: 0px;
                        left: -17px;
                        content: "";
                        position: absolute;
                        width: 15%;
                        height: 100%;
                        border-style: solid;
                        border-width: 0px 0px 20.8px 17px;
                        border-color: transparent transparent $thirdcolor transparent;
                    }
                }
            }
            .rubrikaContentBooksAndSo {
                display: inline-block;
                float: right;
                a {
                    font-size: 12pt;
                    text-decoration: none;
                    color: $primarycolor;
                    font-style: italic;
                }
            }
        }
        

    }
    .viewedContent {
        padding-left: 20px;
        ul {
            padding: 50px 0px 0px 20px;
            li {
                margin-bottom: 20px;
                .viewedContentAbout {
                  border-bottom:2px solid black; 
                    a {
                        font-size: 20pt;
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:786px) {
    .booksMain {
        margin: 0px !important;
        
    }
}