.content {
    overflow-x: hidden;
    margin-bottom: 15px;
    background-color: $secondarycolor;
    .contentHead {
        p {
            font-size: 16pt;
            display: inline-block;
            padding: 15px 64px 15px 15px;
            background-color: $primarycolor;
            position: relative;
            color: white;
        }
    }
    .contentCategoriesHead {
        p {
            position: relative;
            color: white;
            padding: 15px 0px 15px 30px;
            font-size: 16pt;
            background-color: $primarycolor;
            text-transform: uppercase;
        }
    }
    .contentMain {
        padding: 30px 0px 0px 20px;
        a {
            text-decoration: none;
            color: black;
            .contentImage {
                img {
                    width: 100%;
                }
            }
            .contentImageName {
                text-align: left;
                padding: 15px 0px;
                padding-left: 25px;
                
                .contentImageParagraph{
                    display: inline-block;
                    position: relative;
                    p {
                        display: inline-block;
                        font-weight: 600;
                        font-size: 12pt;
                       
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        top: 5px;
                        left: -20px;
                        background-color: $primarycolor;
                        border: 1px solid $primarycolor;
                    }
                   
                }
                
            }
        }
    }
    .contentCategories {
        ul {
            width: 100%;
            margin-right: 35px;
            padding-top: 20px;
            float: right;
            list-style: none;
            li {
                position: relative;
                background-color: $thirdcolor;
                margin-bottom: 5px;
                .contentCategoriesAll {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 15px;
                        height: 100%;
                        left: 0px;
                        top: 0px;
                        background-color: $primarycolor;
                    }
                    .contentCategoriesName {
                        padding: 20px 0px;
                        text-align: center;
                        display: inline-block;
                        width: 55%;
                        position: relative;
                        .contentCategoriesBgImage {
                            position: absolute;
                            top: 12%;
                            left: 55%;
                        }
                        a {
                            text-decoration: none;
                            color: black
                        }
                    }
                    .contentCategoriesNumber {
                        display: inline-block;
                    }
                    .contentCategoriesIcon {
                        i {
                            position: absolute;
                            right: -7%;
                            top: -2%;
                            width: 65px;
                            height: 65px;
                            padding: 20px 0;
                            border: 1px solid $thirdcolor;
                            text-align: center;
                            background: white;
                            border-radius: 50%;
                            color: #4da6ff;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .contentCategoriesHead {
        p {
            &::before {
                border: none !important;
            }
        }
    }
    .contentCategoriesIcon {
        i {
            right: -25px !important;
        }
    }
}

@media screen and (max-width: 557px) {
    .contentHead {
        p {
            &::before {
                border: none !important;
                width: 0% !important;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contentImageName {
        .contentImageParagraph {
            p {
               // font-size: 11pt !important;
                &::before {
                    top: 34% !important;
                }
            }
        }
        
    }
}

@media screen and (max-width: 1320px) {
    .contentImageName {
        span {
            margin: 0px auto !important;
            display: block !important;
        }
    }
}

@media screen and (max-width: 991px) and (min-width:590px) {
    .contentCategoriesResponsiveAll {
        ul {
            margin-right: 0px !important;
            padding-left: 0px !important;
            text-align: center !important;
            li {
                width: 41% !important;
                margin-right: 30px !important;
                display: inline-block;
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width:590px) {
    .imageContentBody {
        padding: 15px 0px !important;
        .contentMain {
            padding: 15px 0px !important;
            .contentImage {
                text-align: center !important;
                img {
                    width: 100% !important;
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) and (min-width:991px) {
    .contentCategoriesIcon {
        i{
            right: -11% !important;
        }
    }
    .contentMainPadding {
        padding: 30px 0px 0px 0px !important;
    }
    
}
@media screen and (max-width: 991px) and (min-width:500px) {
    .contentCategoriesResponsiveAll {
        ul {
            li {
                margin-bottom: 9px !important;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .contentCategoriesResponsiveAll {
        ul {
            li {
                margin-bottom: 5px !important;
            }
        }
    }
}

@media screen and (max-width:590px) {
    .imageContentBody {
        padding: 20px 0px !important;
        .contentMain {
            padding: 10px 0px !important;
            padding-bottom: 0px !important;
            .contentImageName {
                .contentImageParagraph {
                    p {
                        font-size: 10pt !important;
                    }
                }
               
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width:500px) {
    .contentCategoriesIcon {
        i {
            top: -10% !important;
        }
        
    }
    .contentCategoriesNumber {
        margin-right: 10px !important;
    }
    .contentCategoriesName {
        padding: 16px 0px !important;
    }
}
@media screen and (max-width: 767px) {
    .contentCategoriesHead {
        text-align: center !important;
        p {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
        
    }
    .contentHead {
        text-align: center !important;
        width: 100% !important;
        p {
            width: 100% !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
    }
    .message {
        text-align: center !important;
        padding-left: 0px !important;
    }
    .viewed {
        text-align: center !important;
        padding-left: 0px !important;
    }
}


@media screen and (max-width: 991px)  {
.contentMainPadding {
    padding-bottom: 0px !important;
}
.contentImageName {
    padding-bottom: 0px !important;
}
}
@media screen and (max-width:767px) {
    .contentImageName {
        .contentImageParagraph  {
            p {
                font-size: 10pt !important;
            }
            &:after {
                width: 9px !important;
    height: 9px !important;
    left: -12px !important;
    top: 8px !important;
            }
        }
       
    }
}
@media screen and (max-width:991px) {
    .contentImageName {
        .contentImageParagraph  {
            p {
                font-size: 10pt !important;
            }
        }
    }
}
@media screen and (max-width:1230px) and (min-width:1200px){
    .contentImageName {
        .contentImageParagraph  {
            p {
                font-size: 9pt !important;
            }
        }
    }
}
@media screen and (max-width:768px) {
    .contentImageName {
        padding-left: 20px !important;
        .contentImageParagraph  {
           &:after {
            width: 12px !important;
            height: 12px  !important;
           
            left: -17px !important;
               top: 6px !important;
           }
        }
       
    }  
}
@media screen and (max-width:1025px) and (min-width:991px) {
    .contentCategories {
        ul {
            li {
                margin-bottom: 8px !important;
            }
        }
    }
}
@media screen and (min-width:1200px) and (max-width:1350px) {
    .contentImageParagraph {
        p {
            font-size: 10pt !important;
        }
    }
}
@media screen and (min-width:991px) and (max-width:1200px) {
    .contentCategoriesResponsiveAll {
        ul {
            li {
                margin-bottom: 5px !important;
            }
        }
    }
    .contentImageName {
        padding-left: 16px !important;
        .contentImageParagraph {
            p {
                font-size: 9pt !important;
            }
            &:after {
                width: 12px !important;
                height: 12px !important;
                top: 8px !important;
                left: -15px !important; 
            }
        }
    }
    .contentCategoriesName {
        padding: 16px 0px !important;
    }
    .contentCategoriesIcon {
        i {
            position: absolute;
            right: -7% ;
            top: -2%;
            width: 58px !important;
            height: 58px !important ;
            line-height: 20px !important;
            padding: 20px 0;
            border: 1px solid #aae1fa;
            text-align: center;
            background: white;
            border-radius: 50%;
            color: #4da6ff;
            font-size: 25px;
        }
    }
           
    
}
