.content {
    background-color: $secondarycolor;
    padding: 20px 0px;
    .contentHead {
        p {
            font-size: 16pt;
            display: inline-block;
            padding: 15px 64px 15px 15px;
            text-transform: uppercase;
            background-color: $primarycolor;
            position: relative;
            color: white;
            &::before {
                top: 0px;
                right: -28px;
                content: "";
                position: absolute;
                border-style: solid;
                border-width: 61px 29px 0 0px;
                border-color: $primarycolor transparent transparent transparent;
            }
        }
    }
    .contentCategoriesHead {
        p {
            position: relative;
            color: white;
            padding: 15px 0px 15px 30px;
            font-size: 16pt;
            background-color: $primarycolor;
            text-transform: uppercase;
            &::before {
                top: 0px;
                left: -28px;
                content: "";
                position: absolute;
                border-style: solid;
                border-width: 0px 0px 61px 29px;
                border-color: transparent transparent $primarycolor transparent;
            }
        }
    }
    .contentMain {
        padding: 30px 0px 0px 20px;
        .contentImage {
            img {
                width: 100%;
            }
        }
        .contentImageName {
            text-align: center;
            padding: 15px 0px;
            p {
                display: inline-block;
                font-weight: 600;
                font-size: 12pt;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: -20px;
                    top: 20%;
                    width: 15px;
                    height: 15px;
                    background-color: $primarycolor;
                    border: 1px solid $primarycolor;
                }
            }
        }
    }
    .contentCategories {
        ul {
            width: 100%;
            margin-right: 35px;
            padding-top: 20px;
            float: right;
            list-style: none;
            li {
                position: relative;
                background-color: $thirdcolor;
                margin-bottom: 20px;
                .contentCategoriesAll {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 15px;
                        height: 100%;
                        left: 0px;
                        top: 0px;
                        background-color: $primarycolor;
                    }
                    .contentCategoriesName {
                        padding: 20px 0px;
                        text-align: center;
                        display: inline-block;
                        width: 55%;
                        a {
                            text-decoration: none;
                            color: black
                        }
                    }
                    .contentCategoriesNumber {
                        display: inline-block;
                    }
                    .contentCategoriesIcon {
                        i {
                            position: absolute;
                            right: -7%;
                            top: -2%;
                            width: 65px;
                            height: 65px;
                            padding: 20px 0;
                            border: 1px solid $thirdcolor;
                            text-align: center;
                            background: white;
                            border-radius: 50%;
                            color: #4da6ff;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .contentCategoriesHead {
        p {
            &::before {
                border: none !important;
            }
        }
    }
}

@media screen and (max-width: 557px) {
    .contentHead {
        p {
            &::before {
                border: none !important;
            }
        }
    }
}