.forum3 {
    .viewedContent {
        ul {
            
            list-style-type: disc;
            li {
                border-bottom: 2px solid black;
                .viewedContentAbout {
                    a {
                        font-size: 16pt;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}