.forum2 {
    .rubrikaContent {
      margin-bottom: 2px !important;
    }
    .sendQuestion {
        li {
            width: 18.61%;
        }
    }
    .contentHead {
        p {
            padding: 15px;
        }
    }
    .rubrika {
        border:none;
        margin: 20px;
    }
    .rubrikaContent {
        padding: 0px 2px;
        p {
            font-size: 16pt !important;
        }
    }
    .forum2Main {
        margin-bottom: 10px;
    }
    .contentBody {
        border: 2px solid $thirdcolor;
        border-top-style: none;
    }
    .rubrikaParagraph {
        margin: 10px 20px;
        margin-top: 0px;
        border: 2px solid $thirdcolor;
        border-left: none;
        border-right: none;
        .rubrikaParagraphHead {
            padding: 10px 10px;
            p {
                font-size: 16pt;
            }
        }
        .rubrikaParagraphBody {
            font-size: 13pt;
            padding: 10px 30px;
            font-style: italic;
        }
        .rubrikaCategory {
            float: none;
            text-align: right;
            display: block;
            a {
                font-style: italic;
                position: relative;
                padding: 4px;
                background-color: $thirdcolor;
            }
        }
    }
    .viewedContent {
        margin-bottom: 20px;
        ul {
            padding-top: 15px;
            padding-left: 20px ;
            li {
                //border-bottom: 2px solid black;
                margin: 10px 0px;
                width: 100%;
                a {
                    font-size: 16pt;
                    color: black;
                    border-bottom: 1px solid black;
                }
            }
        }
    }
}

@media screen and (max-width:786px) {
    .forum2 {
        .rubrikaContent {
            width: 80% !important;
        }
        .additionalContentBody {
            padding: 0px !important;
        }
        .additionalContentType {
            margin: 0px !important;
        }
    }
}