.forum {
    background-color: white;
    .forumMain {
        margin-bottom: 10px !important;
        margin: 0px 50px;
    }
    .contentBody {
        border: 2px solid $thirdcolor;
        border-top-style: none;
    }
    .contentHead {
        background-color: $thirdcolor;
    }
    .rubrika {
        padding: 20px 0px;
        border-bottom: 2px solid $thirdcolor;
        .rubrikaContent {
            display: inline-block;
            width: 50%;
            position: relative;
            p {
                font-size: 16pt;
                display: inline-block;
                margin-left: 30px;
                width: 100%;
                padding: 15px 0px 15px 25px;
                text-transform: uppercase;
                background-color: $thirdcolor;
                color: black;
                position: relative;
                z-index: 4545;
            }
            &::after {
                top: 0px;
                right: -42px;
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                transform: skew(-15deg);
                background-color: $thirdcolor;
            }
            &::before {
                top: 0px;
                left: 14px;
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                transform: skew(-15deg);
                background-color: $thirdcolor;
            }
        }
        .rubrikaCategory {
            margin: 0px 50px;
            display: inline-block;
            float: right;
            position: relative;
            a {
                line-height: 50px;
                z-index: 4545;
                font-style: italic;
                position: relative;
                padding: 4px 4px 4px 10px;
                margin: 0px 20px;
                color: black;
                text-decoration: none;
                background-color: $thirdcolor;
                &::after {
                    top: 0px;
                    right: -19px;
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transform: skew(-22deg);
                    background-color: $thirdcolor;
                    z-index: -1;
                }
                &::before {
                    top: 0px;
                    z-index: -1;
                    left: -16px;
                    content: "";;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transform: skew(-22deg);
                    background-color: $thirdcolor;
                }
            }
            
        }
    }
    .rubrikaContentCategories {
        ul {
            list-style: none;
            li {
                width: 30%;
                padding: 30px 0px;
                display: inline-block;
                .rubrikaCategoriesIcon {
                    text-align: center;
                    i {
                        font-size: 50pt;
                        color: #4da6ff;
                    }
                }
                .rubrikaCategoriesCount {
                    text-align: center;
                    a {
                        text-decoration: underline;
                        color: black;
                    }
                }
                .rubrikaCategoriesName {
                    text-align: center;
                    border: 1px solid #4da6ff;
                    position: relative;
                    border-radius: 3px;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 3px;
                        background-color: #4da6ff;
                        top: -1px;
                        left: 0px;
                    }
                    a {
                        font-style: italic;
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
        .rubrikaForum {
            position: relative;
            color: white;
            padding: 15px 0px 15px 30px;
            font-size: 16pt;
            background-color: $primarycolor;
            text-transform: uppercase;
            &::after {
                top: 0px;
                left: -29px;
                content: "";
                position: absolute;
                border-style: solid;
                border-width: 0px 0px 61px 29px;
                border-color: transparent transparent $primarycolor transparent;
            }
        }
        .rubrikaEntrace {
            text-align: center;
            padding-top: 50px;
            a {
                font-size: 20pt;
                padding: 10px 20px;
                background-color: #aae1fa;
                text-decoration: none;
                color: black;
            }
        }
    }
}

@media screen and (max-width:786px) {
    .forumMain {
        margin: 0px !important;
        .rubrikaContent {
            width: 80% !important;
        }
    }
}