.forum {
    .sendQuestion {
        li {
            width: 23.39%;
        }
    }
    background-color: white;
    .forumMain {
        margin-bottom: 10px !important;
        margin: 0px 50px;
    }
    .contentBody {
        border: 2px solid $thirdcolor;
        border-top-style: none;
    }
    .contentHead {
        background-color: $thirdcolor;
        p {
            padding: 15px;
            width: 190px;
        }
    }
    .rubrikaParagraph {
        border-bottom: 2px solid $thirdcolor;
        margin: 10px 20px;
    }
    .rubrika {
        margin: 20px;
        .rubrikaContent {
            margin-bottom: 15px;
            width: 50%;
            position: relative;
            p {
                font-size: 16pt;
                display: inline-block;
                margin-left: 75px;
                width: 100%;
                padding: 10px 0px;
                background-color: $thirdcolor;
                color: black;
                position: relative;
                z-index: 4545;
            }
            &::after {
                top: 0px;
                right: -100px;
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                transform: skew(-22deg);
                background-color: $thirdcolor;
            }
            &::before {
                top: 0px;
                left: 40px;
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                transform: skew(-22deg);
                background-color: $thirdcolor;
            }
        }
        .rubrikaText {
            margin-left: 40px;
            display: inline-block;
            p {
                font-size: 16pt;
            }
        }
        .rubrikaCategory {
            float: right;
            height: 38px;
            .conversationContentIcons {
                display: inline-block;
                ul {
                    padding-left: 10px;
                    padding: 0px;
                    list-style: none;
                    li {
                        padding: 0px 5px;
                        display: inline-block;
                        i {
                            font-size: 13pt;
                            color: #4da6ff;
                        }
                    }
                }
            }
            margin: 0px 20px;
            display: inline-block;
            position: relative;
            a {
                line-height: 50px;
                z-index: 4545;
                font-style: italic;
                position: relative;
                padding: 4px 4px 4px 10px;
                margin: 0px 20px;
                color: black;
                text-decoration: none;
                background-color: $thirdcolor;
                &::after {
                    top: 0px;
                    right: -19px;
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transform: skew(-22deg);
                    background-color: $thirdcolor;
                    z-index: -1;
                }
                &::before {
                    top: 0px;
                    z-index: -1;
                    left: -16px;
                    content: "";
                    ;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transform: skew(-22deg);
                    background-color: $thirdcolor;
                }
            }
        }
    }
    .rubrikaContentCategories {
        ul {
            padding-left: 5px;
            list-style: none;
            li {
                width: 30%;
                padding: 30px 0px;
                display: inline-block;
                .rubrikaCategoriesIcon {
                    text-align: center;
                    i {
                        border: 2px solid;
                        border-radius: 50%;
                        text-align: center;
                        width: 100px;
                        height: 100px;
                        font-size: 50px;
                        line-height: 100px; // font-size: 30pt;
                        color: #cad2db;
                        background-color: white;
                        border-color: #cad2db;
                        transition: 0.4s ease;
                        cursor: pointer;
                        &:hover {
                            transition: 0.4s ease;
                            border-color: #4da7ff;
                            background-color: #4da7ff;
                            color: white;
                        }
                    } // i {
                    //     border: 1.5px solid $primarycolor;
                    //     border-radius: 50%;
                    //     text-align: center;
                    //     color: $primarycolor;
                    // }
                }
                .rubrikaCategoriesCount {
                    text-align: center;
                    a {
                        text-decoration: underline;
                        color: black;
                    }
                }
                .rubrikaCategoriesName {
                    text-align: center;
                    border: 1px solid $thirdcolor;
                    position: relative;
                    border-radius: 3px;
                    margin-top: 5px;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 95%;
                        height: 3px;
                        background-color: $thirdcolor;
                        top: -4px;
                        left: 2px;
                    }
                    a {
                        font-style: italic;
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
        .rubrikaForum {
            position: relative;
            color: white;
            padding: 15px 0px 15px 30px;
            font-size: 16pt;
            background-color: $primarycolor;
            text-transform: uppercase;
            &::after {
                top: 0px;
                left: -29px;
                content: "";
                position: absolute;
                border-style: solid;
                border-width: 0px 0px 61px 29px;
                border-color: transparent transparent $primarycolor transparent;
            }
        }
        .rubrikaEntrace {
            text-align: center;
            padding-top: 50px;
            a {
                font-size: 20pt;
                padding: 10px 20px;
                background-color: #aae1fa;
                text-decoration: none;
                color: black;
            }
        }
    }
}

@media screen and (max-width:786px) {
    .forum {
        .rubrika {
            .rubrikaContent {
                width: 80% !important;
                p {
                    padding-left: 5px;
                }
            }
            .rubrikaCategory {
                margin: 0px 5px !important;
            }
        }
    }
    .forumMain {
        margin: 0px !important;
        .rubrikaCategory {
            a {
                margin-right: 20px !important;
            }
        }
        .rubrika {
            margin: 20px 0px !important;
        }
        .rubrikaParagraph {
            margin: 10px 5px !important;
        }
        .rubrikaContent {
            margin-left: 20px;
            p {
                margin-left: 5px !important;
            }
            &::after {
                left: -5px !important;
            }
            &::before {
                left: 20px !important;
            }
        }
        .rubrikaText {
            margin-left: 15px !important;
        }
        .additionalContentBody {
            padding: 0px !important;
        }
        .additionalContentType {
            margin: 0px !important;
        }
    }
}

@media screen and (max-width:400px) {
    .forum {
        .rubrikaContentCategories {
            ul {
                li {
                    width: 45% !important;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) and (min-width: 768px) {
    .forum {
        .rubrikaCategoriesIcon {
            i {
                width: 92px !important;
            }
        }
    }
}

@media screen and (max-width:1024px) and (min-width:766px) {
    .forum {
        .viewedContent {
            text-align: left !important;
        }
    }
}

@media screen and (max-width:766px) {
    .forum {
        .sendQuestion {
            li {
                width: 100% !important;
            }
        }
        .rubrikaContentCategories {
            .rubrikaCategoriesName {
                width: 100px !important;
                margin: 0px auto !important;
                margin-top: 5px !important;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .forum {
        .rubrikaContentCategories {
            ul {
            
                li {
                    padding: 15px 0px !important;
                    .rubrikaCategoriesIcon {
                        i {
                            width: 60px !important;
                            height: 60px !important;
                            font-size: 30px !important;
                            line-height: 60px !important;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1200px) {
    .forum {
        .rubrikaContentCategories {
            ul {
                li {
                    padding: 15px 0px !important;
                }
            }
        }
    }
}
@media screen and (min-width:768px) and (max-width:991px) {
    .forum {
        .rubrikaContentCategories {
            ul {
            
                li {
                   
                    .rubrikaCategoriesIcon {
                        i {
                            width: 80px !important;
                            height: 80px !important;
                            font-size: 40px !important;
                            line-height: 80px !important;
                        }
                    }
                }
            }
        }
    }
}