.forum3 {
    
    .rubrikaContentCategories {
        padding-top: 20px;
    }
    .additionalContent {
        padding: 15px 50px 0px 20px;
        border-bottom: 2px solid $secondarycolor;

        .additionalContentBody {
            padding: 25px 32px;
            p {
                font-size: 13pt;
            }
        }
        .additionalContentAndSo {
            font-style: italic;
            color: $primarycolor;
        }
    }
    .additionalContentIcon {
        display: inline-block;
        padding-right: 5px;
        img {
            height: 27px;
            width: 27px;
        }
        i {
            font-size: 22px;
        }
    }
    .viewedContent {
        ul { 
            padding-top: 15px;
            padding-left: 20px;
            list-style-type: disc;
            li {
                margin: 10px 0px;
                border-bottom: 2px solid black;
                .viewedContentAbout {
                    a {
                        font-size: 16pt;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}