.haqqimizda {
    .contentHead  {
        height: 62px;
    }
    .contentCategoriesHead {
        height: 62px;
    }
    .viewedContent {
        ul {
            padding: 15px 0px 0px 20px;
            list-style: none;
            li {
                margin:10px 0px;
                .viewedContentIcon {
                    display: inline-block;
                    padding-right: 5px;
                    position: absolute;
                    left: 25px;
                    line-height: 40px;
                    img {
                        height: 27px;
                        width: 27px;
                    }
                    i {
                        font-size: 22px;
                    }
                }
                .viewedContentAbout {
                    display: inline-block;
                    padding-left: 35px;
                    a {
                        font-size: 16pt;
                        color: black;
                        border-bottom: 1px solid black;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .sendMessageButton {
        a {
            margin-left: 15px ;
        }
    }
    @media screen and (max-width:767px) {
        .viewedContent {
            a {
                border-bottom: 1px solid black !important;
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .haqqimizda {
        .viewedContent {
            text-align: center !important;
        }
    }
    
}

@media screen and (max-width: 767px) {
    .haqqimizda {
        .viewedContent {
            text-align: left !important;
        }
    }
   
   
}

@media screen and (max-width: 1024px) and (min-width: 766px) {
    .haqqimizda {
        .viewedContent {
            text-align: left !important;
        }
        .viewedContentIcon {
            display: inline-block !important;
        }
    } 
}
