.header {
    .headerLogoText {
        //text-align: right;
       // margin-right: 15px;
    }
background-color: $primarycolor;
.headerLogo {
    display: inline-block;
    p {
        font-family: 'Revue', regular;
        padding: 0px 10px;
        width: 100%;
       font-size: 80px;
       color: $secondarycolor;
       text-transform:uppercase;
       margin: 0px;
    }
}
// .headerLogotxt {
//     display: inline-block;
//     padding: 15px 0px;
//     background-color: $secondarycolor;
//     p {
//         font-family: 'Impact', regular;
//         padding: 0px 10px;
        
//         font-size: 70pt;
//         color:  $primarycolor;
//         text-transform:uppercase;
//         margin: 0px;
//      }
// }
.headerText {
    padding-top: 30px;
    .textContent {
     color: $secondarycolor;
     font-size: 23px;
     margin: 0px;
     font-style: italic;
     font-weight: bold;
     line-height: 21px;
    }
}
}

@media screen and (max-width: 767px) {
    .header {
        text-align: center;
        .headerLogoText {
            text-align: center !important;
        }
        div.headerLogo {
            text-align: center;
            p {
                font-size: 30pt !important;
    
            }
            
        }
        div.headerLogotxt {
        
            p {
                font-size: 30pt !important;
               
            }
        } 
        div.headerText {
            text-align: center;
            div.textContent {
                font-size: 11pt !important;
            }
           
        }
    }
   
}


@media screen and (max-width: 1200px) {
    .header {

        div.headerLogotxt {
            padding: 26px 0px !important;
            p {
                font-size: 57pt !important;
            }
        } 
        .headerLogo  {
          p {
            font-size: 39pt !important;
          }
        }
        .headerText {
            .textContent {
                
                    font-size: 10pt !important;
                
            }
        }
    }
   
}
@media screen and (min-width:1278px) {
    .menuAll {
        height: 51px !important;
    }
}

@media screen and (max-width: 767px) {
    .header {
        text-align: center;
        .headerLogoText {
            text-align: center !important;
        }
        div.headerLogo {
            text-align: center;
            p {
                font-size: 30pt !important;
    
            }
            
        }
        div.headerLogotxt {
            padding: 13px 0px !important;
            p {
                font-size: 30pt !important;
               
            }
        } 
        div.headerText {
            text-align: center;
            padding: 10px 0px;
            div.textContent {
                font-size: 11pt !important;
            }
           
        }
    }
   
}

@media screen and (max-width: 1200px) {
    .header {
        text-align: center;
        .headerLogoText {
            text-align: center !important;
        }
        div.headerLogo {
            text-align: center;

            
        }
        div.headerLogotxt {
            padding: 13px 0px !important;
        } 
        div.headerText {
            text-align: center;
            padding: 10px 0px;

           
        }
    }
   
}
@media screen and (max-width: 1200px) and(min-width:1000px) {
    .header {
        
        div.headerText {
            text-align: center;
            padding: 15px 0px;


           
        }
    }
   
}




