.ideologiya {
    padding: 0px;
    background-color: white;
    .ideologiyaMain {

        margin: 0px 50px;
        border: 2px solid $thirdcolor;
        margin-bottom: 10px !important;
    }
    .contentHead {
        background-color: $thirdcolor;
        
    }
    .rubrikaContentCategories {
        margin: 25px 50px;
        .rubrikaContentBooks {
            .rubrikaContentBooksHead {
                display: inline-block;
                p {
                    font-size: 16pt;
                    font-weight: bold;
                }
            }
            .rubrikaContentBooksPdf {
                display: inline-block;
                i {
                    padding-left: 10px;
                    font-size: 20pt;
                }
            }
        }
    
        

    }
    .viewedContent {
        margin-bottom: 20px;
        ul {
            padding-top: 15px;
            padding-left: 20px ;
            li {
               
                margin: 10px 0px;
                width: 100%;
                a {
                    font-size: 16pt;
                    color: black;
                    border-bottom: 1px solid black;
                }
            }
        }
    }
}

@media screen and (max-width:786px) {
    .ideologiyaMain {
        margin: 0px !important;
        .additionalContentBody {
            padding: 0px !important;
        }
        .additionalContentType {
            margin: 0px !important;
        }
        .rubrikaContentBooks{
            padding: 10px !important;
        }
    }
}

@media screen and (max-width:1024px) and (min-width:766px) {
    .ideologiya {
        .viewedContent{
            text-align: left !important;
        }
    }
}