.menu {
    height: 77px;
    padding: 10px 0px 15px;
    .menuSlogan {
        height: 100%;
       
        background-color: $secondarycolor;
        p {
            padding: 10px;
            font-size: 15pt;
            
        }
    }
    .menuAll {
        .menuInput {
            img {
                height: 0px !important;
            }
        }
    } 
    .menuContent {
        height: 100%;
        padding: 6px;
        
        background-color: $thirdcolor;
        &::after {
            content: "";
            position: absolute;
            left: -22px;
            top: 0px;
            width: 100%;
            z-index: 1;
            height: 99%;
            background-color: $thirdcolor;
            transform: skew(-22deg);
        }
        .menuitems {
            display: inline-block;
            position: relative;
            z-index: 50;
            ul {
                
                padding: 0px;
                list-style: none;
                margin: 0px;
                padding-top: 4px;
                li {
                    display: inline-block;
                    padding: 0px 10px;
                    a {
                        font-size: 15pt;
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }
        .menuInput {
            padding: 2px 0px;
            margin-right: 30px;
            position: relative;
            float: right;
            z-index: 2;
            display: inline-block;
            &::after {
                content: "";
                position: absolute;
                left: -16px;
                top: 2px;
                border-style: solid;
                border-width: 0px 0 35px 16px;
                border-color: transparent transparent white transparent;
            }
           
            i {
                z-index: 5;
                position: absolute;
                top: 30%;
                right: 3%;
                height: 19px;
                background-image: url(../img/searchicon.png);
                background-size: cover;
                width: 19px;
            }
            img {
                height: 0px;
                width: 0px;
            }
            input {
                z-index: 6;
                width: 250px;
                height: 35px;
                border: none;
                padding-right: 30px;
                &::placeholder {
                    text-align: right;
                    color: black;
                    font-weight: bold;
                    padding-left: 20px;
                    text-transform: uppercase;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}
@media screen and (max-width:1278px) {
.menu {
height: 110px;
}
}
@media screen and (max-width:1200px) {
    .menu {
        height: auto !important;
    }
    .menuAll {
        height: auto !important;
    }
    .menuSlogan {
        height: auto !important;
        text-align: center;
    }
    .menuContent {
        height: auto !important;
        text-align: center;
        .menuitems {
            margin: 10px 0px;
            display: block !important;
            text-align: right;
            .fa-align-justify {
                display: block;
                margin: 11px;
            }
            ul {
                display: none;
            }
        }
        .menuInput {
            display: none !important;
            float: none !important;
            margin-right: 0px !important; 
        }
    }
}