.murcie {
    background-color: white;
    .murcieMain {
        margin: 0px 25px;
        border: 2px solid $thirdcolor;
    }
    .contentHead {
        margin-left: 50px;
        background-color: $thirdcolor;
         background-color: white;
         p {
             background-color: white;
             color: black;
             &::before {
              border: none;
             }
         }
     
  
    }
    .rubrikaContentCategories {
        margin: 25px;
        p {
            margin: 20px;
            font-size: 16pt;
        }
        
        .socialLinks {
            margin-top: 50px;
            ul {
                
                list-style: none;
                text-align: right;
                li {
                    padding: 0px 20px;
                    display: inline-block;
                    a {
                        text-decoration: none;
                        i {
                            font-size: 16pt;
                        }
                    }
                }
            }
        }
    }
    .viewedContent {
        padding-left: 20px;
        ul {
            padding: 50px 0px;
            li {
                margin-bottom: 20px;
                .viewedContentAbout {
                  border-bottom:2px solid black; 
                    a {
                        font-size: 20pt;
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:786px) {
    .murcieMain {
        margin: 0px !important;
        .rubrikaContentCategories {
            margin: 25px;
                p {
                    margin: 16px;
                    font-size: 12pt;
                }
            
        }
    }
}