.photo2 {
    background-color: white;
    .photo2Main {
        margin: 0px 50px;
        border: 2px solid $thirdcolor;
    }
    .contentHead {
        margin-top: 2px;
        p {
            font-weight: bold;
            margin-left: 50px;
            font-size: 16pt;
            background-color: white;
            color: black;
            &::before {
                border: none;
            }
        }
    }
    .rubrikaContentCategories {
        margin: 50px;
        margin-top: 15px;
        .rubrikaContentCategoriesImage {
            img {
                width: 100%
            }
        }
    }
    .viewedContent {
        ul {
            padding-left: 20px;
            padding-top: 20px;
            list-style: none;
            li {
                margin: 10px 0px;
                width: 100%;
                .viewedContentImage {
                    margin-right: 20px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:786px) {
    .photo2Main {
        margin: 0px !important;
    }
    .additionalContentBody {
        padding: 0px !important;
    }
    .additionalContentType {
        margin: 0px !important;
    }
}