.photo2 {
    background-color: white;
    .contentCategoriesHead{
        height: 62px;
    }
    .contentHead{
        height: 62px;
    }
    .photo2Main {
        margin: 0px 50px;
        border: 2px solid $thirdcolor;
        margin-bottom: 10px !important;
    }
    .contentHead {
        margin-top: 2px;
        text-align: left !important;
        width:  auto !important;
        p {
            font-weight: bold;
           
            margin-left: 50px;
            font-size: 16pt;
            background-color: white;
            color: black;
            padding: 15px 64px 15px 0px;
            &::before {
                border: none;
            }
        }
    }
    .rubrikaContentCategories {
        margin: 50px;
        margin-top: 15px;
        .rubrikaContentCategoriesImage {
            img {
                width: 100%
            }
        }
    }
    .viewedContent {
        ul {
            padding-left: 20px;
            padding-top: 20px;
            list-style: none;
            li {
                margin: 10px 0px;
                width: 100%;
                .viewedContentImage {
                    margin-right: 20px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:786px) {
    .photo2Main {
        margin: 0px !important;
        .additionalContentBody {
            padding: 0px !important;
        }
    }
    
    .additionalContentType {
        margin: 0px !important;
    }
}
// @media screen and (max-width:767px) {
//     .photo2 {
//  .contentHead {
//      margin-left: 32px; 
//  }
//     }
 
//     }
@media screen and (min-width:768px) and (max-width:991px){
    .photo2 {
        .viewedContent {
            text-align: left !important;
            
            .viewedContentImage {
                img {
                   width: 600px !important;
                   height: 400px !important;
                   text-align: center !important;
                }
            }
        }
    }
   }