.photo2 {
    background-color: white;
    .photo2Main {
        margin: 0px 50px;
        border: 2px solid $thirdcolor;
    }
    .contentHead {
        p {
            margin-left: 50px;
            font-size: 20pt;
            background-color: white;
            color: black;
            &::before {
                border: none;
            }
        }
    }
    .rubrikaContentCategories {
margin: 15px;
.rubrikaContentCategoriesImage {
    img {
        width: 100%
    }
}
.socialLinks {
   
    ul {
        
        list-style: none;
        text-align: right;
        li {
            padding: 0px 20px;
            display: inline-block;
            a {
                text-decoration: none;
                i {
                    font-size: 16pt;
                }
            }
        }
    }
}
    }
    .viewedContent {
        ul {
            list-style: none;
            li {
                margin: 10px 0px;
                width: 100%;
                .viewedContentImage {
                    img {
                        width: 100%;

                    }
                } 
            }
        }
    }
}
@media screen and (max-width:786px) {
    .photo2Main{
        margin: 0px !important;
    }  
}