.photo {
    background-color: white;
    .photoMain {
        margin: 0px 50px;
        margin-bottom: 10px !important;
    }
    .contentHead {
        background-color: $thirdcolor;
        p {
            width: 190px;
        }
    }
    .additionalContent {
        padding: 35px 50px 0px 20px;
        border-bottom: 2px solid $secondarycolor;
        .additionalContentIcon {
            display: inline-block;
            padding-right: 5px;
            img {
                height: 27px;
                width: 27px;
            }

        }
        .additionalContentHead {
            display: inline-block;
            p {
                font-size: 16pt;
            }
        }
        .additionalContentBody {
            ul {
                margin: 20px 0px;
                list-style: none;
                li {
                    width: 24%;
                    display: inline-block;
                    .additionalContentBodyImage {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .additionalContentType {
            margin-left: 50px;
            a {
                color: black;
                padding: 0px 5px;
                background-color: $secondarycolor;
                text-decoration: none;
                font-style: italic;
                position: absolute;
                &::after {
                    top: 0px;
                    left: -16px;
                    content: "";
                    position: absolute;
                    border-style: solid;
                    border-width: 0px 0px 24px 17px;
                    border-color: transparent transparent $secondarycolor transparent;
                }
                &::before {
                    top: 0px;
                    right: -19px;
                    content: "";
                    position: absolute;
                    border-style: solid;
                    border-width: 23.8px 19px 0 0px;
                    border-color: $secondarycolor transparent transparent transparent;
                }
            }
        }
        .additionalContentAndSo {
            float: right;
            a {
                font-style: italic;
                color: $primarycolor;
                text-decoration: none;
                font-style: italic
            }
        }
    }
    
    .rubrikaContentCategories {
        margin: 50px;
        margin-top: 0px;
        //padding-top: 20px;
    }
    .viewedContent {
        padding: 0px 20px;
        padding-top: 20px;
        ul {
            padding-left: 0px ;
            list-style: none;
            li {
                margin: 10px 0px;
                width: 100%;
                .viewedContentImage {
                    img {
                        width: 100%;

                    }
                } 
            }
        }
    }
}



@media screen and (max-width:786px) {
    .photoMain {
        margin: 0px !important;
        
        .rubrikaContentCategories {
            margin: 0px !important;
            .additionalContent {
                padding: 35px 20px 0px 20px !important;
            }
            .additionalContent {
                margin-bottom: 10px !important;
            }
            .additionalContentBody  {
                ul {
                    padding: 0px !important;
                    li {
                        margin-bottom: 10px;
                        display: block;
                        width: 100% !important;
                    }
                }
                 
            }
            .additionalContentBody {
                padding: 0px !important;
            }
            .additionalContentType {
                margin: 0px !important;
                float: left !important;
                a {
                    margin-left: 20px !important;
                }
            }
        }
       

    }

   
}