.rubrikaContent {
    .sendMessageIcon {
        display: inline-block;
        i {
           
            img {
                margin: 10px;
                width: 55px;
            }
        }
    }
    margin-bottom: 2px;
    background-color: white;
    .rubrikaContentMain {
        margin: 0px 50px;
    }
    
    .contentHead {
        background-color: $thirdcolor;
        p {
            width: 190px;
            padding: 15px;
        }
    }
    .rubrika {
        border-bottom: 2px solid $thirdcolor;
        margin: 20px 10px;
        .rubrikaContent {
            display: inline-block;
            width: 50%;
                z-index: 50;
                font-size: 16pt;
                display: inline-block;
              
            position: relative;
            p {  margin-left: 40px;
                width: 100%;
                padding: 10px 0px;
                
                background-color: $thirdcolor;
                position: relative;
                color: black;
                z-index: 50;
               
            }
            &::after {
                top: 0px;
                left: 27px;
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                transform: skew(-22deg);
                background-color: #aae1fa;
                
            }
            &::before {
                top: 0px;
                right: -52px;
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                transform: skew(-22deg);
                background-color: #aae1fa;
            }
        }
        .rubrikaCategory {
           float: right;
           margin-left: 10px;
            display: inline-block;
            ul {
                margin-bottom: 0px;
                margin-top: 29px;
            
                list-style: none;
                li {
                    display: inline-block;
                    a {
font-style: italic;
                        text-decoration: none;
                        color: $primarycolor;
                    }
                }
            }
        }
    }
    .rubrikaContentCategories {
        ul {
            //margin-top: 15px;
            padding-left: 5px;
            list-style: none;
            li {
                width: 30%;
                padding: 30px 0px;
                display: inline-block;
                .rubrikaCategoriesIcon {
                   text-align: center;
                   
                   i {
                    border: 2px solid;
                    border-radius: 50%;
                    text-align: center;
                    width: 80px;
                        height: 80px;
                        font-size: 30pt;
                        line-height: 80px;
                   // font-size: 30pt;
                    color: #cad2db;
                    background-color: white;
                    border-color: #cad2db;
                    transition: 0.4s ease;
                    cursor: pointer;
                    &:hover {
                        transition: 0.4s ease;
                        border-color: #4da7ff;
                        background-color: #4da7ff;
                        color: white;
                    }
                }
                }
                .rubrikaCategoriesCount {
                    text-align: center;
                    a {
                       border-bottom: 1px solid black;
                        color: black;
                        text-decoration: none ;
                    }
                }
                @media screen and (max-width:767px) {
                  .rubrikaCategoriesCount {
                       text-align: center;
                       a {
                          border-bottom: 1px solid black !important;
                           
                       }
                   } 
                }
                .rubrikaCategoriesName {
                    text-align: center;
                    border: 1px solid $thirdcolor;
                    position: relative;
                    border-radius: 3px;
                    margin-top: 5px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 90px;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 95%;
                        height: 3px;
                        background-color: $thirdcolor;
                        top: -4px;
                        left: 2px;
                    }
                    a {
                        font-style: italic;
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
        .rubrikaForum {
            margin-top: 32px;
            
            position: relative;
            color: white;
            padding: 15px 0px 15px 30px;
            font-size: 16pt;
            background-color: $primarycolor;
            text-transform: uppercase;

        } 
       
        .rubrikaEntrace {
            text-align: center;
            padding-top: 50px;
            a {
                font-size: 13pt;
                padding: 10px 40px;
                background-color: #aae1fa;
                text-decoration: none;
                color: black;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .rubrikaContent {
        .rubrikaForum {
            &::after {
                border: none !important;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .rubrikaContent {
        .rubrikaContentCategories {
            ul {
                li {
                    width: 45% !important;
                } 
            }
        }
    }
}

@media screen and (max-width: 1255px) {
    .rubrikaContent {
        &::after {
            transform: skew(-15deg) !important;
        }
        &::before {
            transform: skew(-15deg) !important;
        }
        p {
            &::before {
                border: none !important;
            }
            &::after {
                border: none !important;
            }
        }
    }
}

@media screen and (max-width:786px) {

    .rubrikaContentMain {
        margin: 0px !important;
        margin-bottom: 10px !important;
        .additionalContentBody {
            padding: 25px 0px !important;
        }
        .rubrika {
            .rubrikaContent {
                width: 75% !important;
            }
        }
    }
    
    .additionalContentType {
        margin: 0px !important;
    }
}

@media screen and (max-width: 1187px) and (min-width: 768px) {
    .rubrikaContentCategories {
        ul {
            li {
                width: 49% !important;
            }
        }
    }
}
@media screen and (max-width: 850px) and (min-width: 768px) {
    .rubrikaContent {
        .contentCategoriesHead {
            p {
                padding: 15px 0px 15px 7px;
            }
        }
        .rubrikaContentCategories {
            ul {
                li {
                    width: 49% !important;
                }
            }
        }
        .rubrikaCategoriesIcon {
            i {
                
                width: 92px !important;
               
            }
        }
        
    }
}
@media screen and (max-width: 850px) and (min-width: 768px) {
    .rubrikaEntrace  {
        margin-left: 10px !important;
    }
}


@media screen and (max-width:766px) {
    .rubrikaContent {
        
       .rubrikaContentCategories {
           .rubrikaCategoriesName {
               width: 90px !important;
               margin: 0px auto !important;
               margin-top: 5px !important;
           }
       } 
    }
}
@media screen and (max-width:766px) {
    .rubrikaContentMainHead {
        &::after {
            height: 0% !important;
        }
    }
}
@media screen and (max-width:767px) {
    .rubrikaContent {
        .rubrikaContentCategories {
            ul {
            
                li {
                    padding: 15px 0px !important;
                    .rubrikaCategoriesIcon {
                        i {
                            width: 60px !important;
                            height: 60px !important;
                            font-size: 30px !important;
                            line-height: 60px !important;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1200px) {
    .rubrikaContent {
        .rubrikaContentCategories {
            ul {
                li {
                    padding: 15px 0px !important;
                }
            }
        }
    }
}
@media screen and (min-width:768px) and (max-width:991px) {
    .rubrikaContent {
        .rubrikaContentCategories {
            ul {
            
                li {
                   
                    .rubrikaCategoriesIcon {
                        i {
                            width: 80px !important;
                            height: 80px !important;
                            font-size: 40px !important;
                            line-height: 80px !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) and(max-width:991px) {
    .rubrikaContent {
        .rubrikaForum {
            margin-top: 140px !important;
        }
    }
   
}