    .search {
        .viewedContent {
            li {
                border-bottom: 0px !important; 
            }
        }
    .contentBody {
        padding: 50px 0px;
    }
    .searchContent {
        display: inline-block;
        margin-left: 50px;
        p {
            font-size: 16pt;
            display: inline-block;
            color: black;
        }
        padding: 2px 0px;
        position: relative;
        z-index: 2;
        display: inline-block;
        &::after {
            content: "";
            position: absolute;
            left: -9px;
            top: 2px;
            background-color: white;
            width: 50%;
            z-index: -5;
            transform: skewx(-22deg);
            height: 39px;
        }
        &::before {
            content: "";
            position: absolute;
            right: 0px;
            top: 2px;
            background-color: white;
            width: 90%;
            z-index: -5;
            height: 39px;
        }
       
        i {
            z-index: 5;
            position: absolute;
            top: 30%;
            right: 3%;
            height: 19px;
            background-image: url(../img/searchicon.png);
            background-size: cover;
            width: 19px;
        }
        img {
            height: 0px;
            width: 0px;
        }
        input {
            z-index: 6;
            width: 200px;
            height: 39px;
            border: none;
            padding-right: 30px;
            &::placeholder {
                
                color: black;
                font-weight: bold;
                padding-left: 10px;
                text-transform: uppercase;
            }
            &:focus {
                outline: none;
            }
        }
    }
    .contentHead {
        p {
            width: 190px;
        }
    }
    .viewedContent {
        margin-bottom: 0px;
        display: inline-block;
        padding-right: 5px;
        img {
            height: 27px;
            width: 27px;
        }
        i {
            font-size: 22px;
        }
        ul {
            margin-bottom: 0px;
            li:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .rubrikaParagraph {
        border-top: none;
    }
    .rubrikaContentCategories {
        margin-bottom: 10px;
    }
    .rubrikaContentCategories {
        margin: 0px 50px;
         border-bottom: 2px solid $thirdcolor;
         ul {
             padding: 0px;
             text-align: center;
            margin-bottom: 0px;
             padding-top: 50px;
             list-style: none;
             li {
                 padding-bottom: 0px;
                 padding-top: 0px;
                 text-align: center;
                 margin-top: 10px;
                 display: inline-block;
                 width: 15%;
                 .rubrikaCategoriesIcon {
                     text-align: center;
                     i {
                         border: 2px solid;
                         border-radius: 50%;
                         text-align: center;
                         width: 80px;
                         height: 80px;
                         line-height: 80px;
                         font-size: 30pt;
                         color: #cad2db;
                         background-color: white;
                         border-color: #cad2db;
                         transition: 0.4s ease;
                         cursor: pointer;
                         &:hover {
                             transition: 0.4s ease;
                             border-color: #4da7ff;
                             background-color: #4da7ff;
                             color: white;
                         }
                     }
                 }
                 .rubrikaCategoriesCount {
                     text-align: center;
                     a {
                         text-decoration: underline;
                         color: black;
                     }
                 }
                 .rubrikaCategoriesName {
                     margin-top: 5px;
                     text-align: center;
                     border: 1px solid $thirdcolor;
                     position: relative;
                     border-bottom: 0px;
                     display: inline-block;
                     border-radius: 3px;
                     width: 100px;
                     &::after {
                         position: absolute;
                         content: "";
                         width: 95%;
                         height: 3px;
                         background-color: $thirdcolor;
                         top: -4px;
                         left: 3px;
                     }
                     a {
                         font-style: italic;
                         text-decoration: none;
                         color: black;
                     }
                 }
             }
         }
     }
    .sendQuestion {
        margin: 0px 100px;
        padding: 2px;
        padding-top: 0px;
        //background-color: $thirdcolor;
        li {
            padding-left: 0px;
            margin: 0px;
            padding: 4px;
            background-color: $thirdcolor;
            width: 32.90%;
           a{
                &:hover {
                    background-color:$primarycolor !important;
                    color: white !important;
                }
            }
        }
        li:last-child {
           background-color: $primarycolor;
           
        }
    }
    
}

@media screen and(max-width:1000px) {
    .search {
        .sendQuestion {
            margin: 0px 10px !important;
        }
    }
}

@media screen and (max-width: 1280px) {
    .search {
        .sendQuestion li {
            width: 80% !important;
            display: block;
            margin-bottom: 5px !important;
        }
    }
}
@media screen and (max-width: 759px) {
    .search {
        .searchContent {
           
            margin:10px 0px!important;
            margin-left: 50px !important;
          
           
        }
        .sendQuestion li {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 1280px) {
    .search {
        .rubrikaCategoriesName {
            border-bottom: 1px solid $thirdcolor !important;
        }
    }
}

@media screen and (max-width:1024px) and (min-width:766px) {
    .search {
        .viewedContent {
            text-align:  center !important;
        }
        .viewedContentIcon{
           display: block !important;
        }
    }
}