.sualcavab {
    background-color: white;
    .sualcavabMain {
        margin: 0px 50px;
        border: 2px solid $thirdcolor;
    }
    .contentHead {
        margin-left: 50px;
        background-color: $thirdcolor;
         background-color: white;
         p {
             background-color: white;
             color: black;
             &::before {
              border: none;
             }
         }
     
  
    }
    .rubrikaContentCategories {
        margin: 50px;
        p {
            margin: 20px;
            font-size: 16pt;
        }
      
        

    }
    .rubrikaForum {
        position: relative;
        color: white;
        padding: 15px 0px 15px 30px;
        font-size: 16pt;
        background-color: $primarycolor;
        text-transform: uppercase;
   
    }
    .rubrikaEntrace {
          margin-left: 50px;
        padding: 50px 0px;
        a {
            font-size: 20pt;
            padding: 10px 20px;
            background-color: #aae1fa;
            text-decoration: none;
            color: black;
        }
    }
    .message {
        position: relative;
        color: white;
        padding: 15px 0px 15px 30px;
        font-size: 16pt;
        background-color: $primarycolor;
        text-transform: uppercase;
  
    }
    .sendMessage { 
        margin-left: 50px;

        padding:50px 0px;
       .sendMessageButton {
           display: inline-block;
         a {
            font-size:16pt;
            padding: 10px 20px;
            background-color: $thirdcolor;
            text-decoration: none;
            color: black;
         }
         
       }
       .sendMessageIcon {
        display: inline-block;
         i {
            padding: 10px 20px;
             font-size: 26pt
         }
     }
    }
    .viewedContent {
        padding-left: 20px;
        ul {
            padding: 50px 0px 0px 0px;
            li {
                margin-bottom: 20px;
                .viewedContentAbout {
                  border-bottom:2px solid black; 
                    a {
                        font-size: 16pt;
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }
        
    }
}
@media screen and (max-width:786px) {
    .sualcavabMain {
        margin: 0px !important;
        .rubrikaContentCategories {
            margin: 25px;
                p {
                    margin: 16px;
                    font-size: 12pt;
                }
            
        }
    }
}
@media screen and (max-width:991px) {
    .sualcavab {
       .rubrikaForum {
           
               &::after {
                   border: none !important;
               }
           
       }
       .message {
        &::after {
            border: none !important;
        }
       }
       
    }
}
