.tovhidnadi {
    background-color: white;
    .tovhidnadiMain {
        margin: 0px 50px;
        border: 2px solid $thirdcolor;
    }
    .contentHead {
        margin: 2px;
        margin-bottom: -50px;
        p {
            margin-left: 32px;
            font-size: 20pt;
            background-color: white;
            color: black; 
            font-weight: bold;
            &::before {
                border: none;
            }
        }
    }
    .rubrikaContentCategories {
        .paragraph {
            p {
                margin: 50px;
                font-size: 16pt;
            }
        }
        
    }
    .viewedContent {
        margin-bottom: 20px;
        ul {
            padding-top: 15px;
            padding-left: 20px ;
            li {
                border-bottom: 2px solid black;
                margin: 10px 0px;
                width: 100%;
                a {
                    font-size: 16pt;
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width:786px) {
    .tovhidnadiMain {
        margin: 0px !important;
        .contentHead {
            margin-bottom: 0px !important;
            p {
                margin-left: 0px !important;
            }
        }
        .rubrikaContentCategories {
            .paragraph {
                p {
                    margin: 16px;
                    font-size: 12pt;
                }
            }
        }
    }
}