.video {
    padding: 0px;
    margin-bottom: 20px;
    background-color: white;
    .videoMain {
        margin: 0px 50px;
        
    }
    .contentBody {
        border: 2px solid $thirdcolor;
        border-top-style: none;
    }
    .contentHead {
        background-color: $thirdcolor;
        p {
            width: 190px;
        }
    }
    .additionalContent {
        padding: 35px 50px 0px 20px;
        margin-bottom: 10px !important;
        border-bottom: 2px solid $secondarycolor;
        .additionalContentIcon {
            display: inline-block;
            padding-right: 5px;
            img {
                height: 27px;
                width: 27px;
            }
        }
        .additionalContentHead {
            display: inline-block;
            p {
                font-size: 16pt;
            }
        }
        .additionalContentBody {
            padding: 20px 0px 20px 35px;
        }
        .additionalContentForumIcon {
            float: right;
            display: inline-block;
            margin-left: 10px;
            width: 40px;
            height: 40px;
            background-image: url(../img/discussion.jpg);
            background-size: cover;
        }
        .additionalContentForum {
            float: right;
            display: inline-block;
            a {
                text-decoration: none;
                font-style: italic;
                color: $primarycolor;
                font-size: 12pt;
                line-height: 40px;
            }
        }
        .additionalContentType {
            margin-left: 35px;
            a {
                color: black;
                padding: 0px 5px;
                background-color: $secondarycolor;
                text-decoration: none;
                font-style: italic;
                position: absolute;
                &::after {
                    top: 0px;
                    left: -16px;
                    content: "";
                    position: absolute;
                    border-style: solid;
                    border-width: 0px 0px 24px 17px;
                    border-color: transparent transparent $secondarycolor transparent;
                }
                &::before {
                    top: 0px;
                    right: -19px;
                    content: "";
                    position: absolute;
                    border-style: solid;
                    border-width: 23.8px 19px 0 0px;
                    border-color: $secondarycolor transparent transparent transparent;
                }
            }
        }
        .additionalContentAndSo {
            float: right;
            a {
                color: $primarycolor;
                text-decoration: none;
                font-style: italic
            }
        }
    }
    .rubrikaContentCategories {
        margin: 50px;
        margin-top: 0px;
       // padding-top: 20px;
    }
    .viewedContent {
        padding: 0px 20px;
        padding-top: 20px;
        ul {
            padding: 0px;
            list-style: none;
            li {
                margin: 10px 0px;
                width: 100%;
                .viewedContentImage {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:786px) {
    .videoMain {
        margin: 0px !important;
        margin-bottom: 10px !important;
        .additionalContent {
            padding: 35px 20px 0px 20px !important;
        }
        .rubrikaContentCategories {
            margin: 0px !important;
            
            .additionalContentBody {
                    padding: 0px !important;
                    .videoifrm {
                        width: 100% !important;
                    }
                }
                .additionalContentType {
                    margin: 0px !important;
                    float: left !important;
                    a {
                        margin-left: 20px !important;
                    }
                }
            
        }
    }
}
@media screen and (max-width:991px) {
    .videoMain {

        .rubrikaContentCategories {

            margin-top: -20px !important;

            
        }
    }
}