.video2 {
    padding: 0px;
    margin-bottom: 20px;
    background-color: white;
    .video2Main {
        margin: 0px 50px;
        border: 2px solid $thirdcolor;
    }
    .contentHead {
        p {
            border: none;
            background-color: white;
            color: black;
            &::before {
                content: "";
                border: none;
            }
        }
    }
    .rubrikaContentCategories {
        margin: 25px;
        margin-top: 15px;
       
    }
    .viewedContent {
        ul {
            padding-left: 20px ;
            list-style: none;
            li {
                margin: 10px 0px;
                width: 100%;
                .viewedContentImage {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:786px) {
    .video2Main {
        margin: 0px !important;
        .rubrikaContentCategories {
            margin: 0px !important;

                .videoifrm {
                    width: 100% !important;
                }
            
        }
    }
}