.video {
    background-color: white;
    .videoMain {
        margin: 0px 50px;
        border: 2px solid $thirdcolor;
    }
    .contentHead {
        background-color: $thirdcolor;
    }
    .additionalContent {
        padding: 50px 50px 10px 20px;
        .additionalContentIcon {
            display: inline-block;
            i {
                font-size: 22pt;
                padding-right: 5px;
            }
        }
        .additionalContentHead {
            display: inline-block;
            p {
                font-size: 16pt;
            }
        }
        .additionalContentBody {
            padding: 20px 0px;
        }
        .additionalContentType {
            a {
                color: black;
                padding: 0px 5px;
                background-color: $thirdcolor;
                text-decoration: none;
                font-style: italic;
                position: absolute;
                &::after {
                    top: 0px;
                    left: -16px;
                    content: "";
                    position: absolute;
                    border-style: solid;
                    border-width: 0px 0px 24px 17px;
                    border-color: transparent transparent #aae1fa transparent;
                }
                &::before {
                    top: 0px;
                    right: -19px;
                    content: "";
                    position: absolute;
                    border-style: solid;
                    border-width: 23.8px 19px 0 0px;
                    border-color: #aae1fa transparent transparent transparent;
                }
            }
        }
        .additionalContentAndSo {
            float: right;
            a {
                color: $primarycolor;
                text-decoration: none;
                font-style: italic
            }
        }
    }
    .rubrikaContentCategories {
        margin: 50px;
    }
    .viewedContent {
        ul {
            list-style: none;
            li {
                margin: 10px 0px;
                width: 100%;
                .viewedContentImage {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:786px) {
    .videoMain {
        margin: 0px !important;
        .rubrikaContentCategories {
            margin: 0px !important;
            .additionalContentBody {
                .videoifrm {
                    width: 100% !important;
                }
            }
        }
    }
}