$primarycolor:#2d6c93;
$secondarycolor:#d9edf7;
$thirdcolor:#aae1fa;
.mainHead {
    background-color: $thirdcolor;
}
html {
    overflow-x: hidden;
}
body {
    font-family: 'Calibri';
}
.mgTop {
    margin-top: 138px !important;
    text-align: right;
    
}
.showAll {
    margin: 20px 0px;
    margin-bottom: 30px;
    a {
        font-style: italic;
        position: relative;
        padding: 4px 4px 4px 10px;
        margin: 0px 20px;
        color: black;
        text-decoration: none;
        background-color: $thirdcolor;
        &::before {
            top: 0px;
            right: -20px;
            content: "";
            position: absolute;
            width: 19%;
            height: 100%;
            border-style: solid;
            border-width: 27px 19px 0 0px;
            border-color: $thirdcolor transparent transparent transparent;
        }
        &::after {
            top: 0px;
            left: -16px;
            font-family: FontAwesome;
            content: "\f067";
            width: 23px;
            height: 27px;
            position: absolute;
            line-height: 31px;
            font-size: 15px;
            background-color: white;
            border: 1px solid white;
            border-radius: 50%;
        }
    }
}
.showAllMarginFix {
    margin: 20px 35px 30px 35px;
    a {
        margin: 0px 20px !important;
    }
}
.social {
    margin: 50px 40px 0px 40px;
    .socialAbout {
        
        display: inline-block;
        ul {
            padding: 0px;
            list-style: none;
            text-align: right;
            li {
                padding: 0px 5px;
                display: inline-block;
                a {
                    text-align: center;
                    color: $primarycolor;
                    font-style: italic;
                    text-decoration: none;
                     .socialForumIcon{
                        margin: 0px auto;
                        width: 40px;
                        height: 40px;
                        background-image: url(../img/discussion.jpg);
                        background-size: cover;
                        transition: 0.4s ease;
                        opacity: 0.8;
                        &:hover {
                            transition: 0.4s ease;
                            opacity: 1;
                        }
                    }
                    .SocialQuestionIcon{
                        margin: 0px auto;
                        width: 40px;
                        height: 40px;
                        background-image: url(../img/13-512.png);
                        background-size: cover;
                        transition: 0.4s ease;
                        opacity: 0.8;
                        &:hover {
                            transition: 0.4s ease;
                            opacity: 1;
                        }
                    }
                    .socialInformationIcon{
                        margin: 0px auto;
                        width: 40px;
                        height: 40px;
                        background-image: url(../img/information-icon.png);
                        background-size: cover;
                        transition: 0.4s ease;
                        opacity: 0.8;
                        &:hover {
                            transition: 0.4s ease;
                            opacity: 1;
                        }
                    }
                    i {
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        border-radius: 50%;
                        border: 1px solid;
                        text-align: center;
                        transition: 0.4s ease;
                        opacity: 0.8;
                        &:hover {
                            transition: 0.4s ease;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .socialLinks {
        display: inline-block;
        float: right;
        ul {
            
            list-style: none;
            text-align: right;
            li {
                padding: 0px 5px;
                display: inline-block;
                a {
                    color: white;
                    text-decoration: none;
                    .googlePlusIcon {
                        margin: 0px auto;
                        width: 40px;
                        height: 40px;
                        background-image: url(../img/social/google-plus.svg);
                        background-size: cover;
                        transition: 0.4s ease;
                        opacity: 0.8;
                        &:hover {
                            transition: 0.4s ease;
                            opacity: 1;
                        }
                    }
                    .facebookIcon {
                        margin: 0px auto;
                        width: 40px;
                        height: 40px;
                        background-image: url(../img/social/facebook.svg);
                        background-size: cover;
                        transition: 0.4s ease;
                        opacity: 0.8;
                        &:hover {
                            transition: 0.4s ease;
                            opacity: 1;
                        }
                    }
                    .instagramIcon{
                        margin: 0px auto;
                        width: 40px;
                        height: 40px;
                        background-image: url(../img/social/instagram.svg);
                        background-size: cover;
                        transition: 0.4s ease;
                        opacity: 0.8;
                        &:hover {
                            transition: 0.4s ease;
                            opacity: 1;
                        }
                    }
                    .twitterIcon{
                        margin: 0px auto;
                        width: 40px;
                        height: 40px;
                        background-image: url(../img/social/twitter.svg);
                        background-size: cover;
                        transition: 0.4s ease;
                        opacity: 0.8;
                        &:hover {
                            transition: 0.4s ease;
                            opacity: 1;
                        }
                    }
                    .whatsappIcon{
                        margin: 0px auto;
                        width: 40px;
                        height: 40px;
                        background-image: url(../img/social/whatsapp.svg);
                        background-size: cover;
                        transition: 0.4s ease;
                        opacity: 0.8;
                        &:hover {
                            transition: 0.4s ease;
                            opacity: 1;
                        }
                    }
                    .telegramIcon{
                        margin: 0px auto;
                        width: 40px;
                        height: 40px;
                        background-image: url(../img/social/telegram.svg);
                        background-size: cover;
                        transition: 0.4s ease;
                        opacity: 0.8;
                        &:hover {
                            transition: 0.4s ease;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.breadcrumb {
    padding-top: 0px;
    padding-left: 65px;
    margin-bottom: 0px;
    list-style: none;
    background-color: white;
    border: none;
}

.breadcrumb-item+.breadcrumb-item {
    &::before {
        content: ">" !important;
    }
}

.breadcrumb-item {
    a {
        color: $primarycolor;
    }
}

.sendQuestion {
    list-style: none;
    padding-left: 50px;
    li {
        width: 18.5%;
        margin-top: 2px;
        display: inline-block;
        a {
            text-transform: uppercase;
            display: inline-block;
            font-size: 16pt;
            height: 52px;
            text-decoration: none;
            width: 100%;
            text-align: center;
            line-height: 50px;
        }
        select {
            height: 52.3px;
            width: 100%;
            option {
                text-align: center;
                text-transform: uppercase;
            }
        }
        .answerQuestion {
            background-color: $thirdcolor;
            color: black;
            transition: 0.4s ease;
            &:hover {
                color: white;
                transition: 0.4s ease;
                background-color: $primarycolor;
            }
        }
        .sendQuestions {
            background-color: $primarycolor;
            color: white;
            transition: 0.4s ease;
            &:hover {
                transition: 0.4s ease;
                color: black;
                background-color: $thirdcolor;
            }
        }
    }
  
}
.bgTriangle5 {

}
.bgTriangle {
    position: relative;
    display: inline-block;
    &::after {
        top: 0px;
        right: -12+px;
        content: "";
        position: absolute;
        height:99%;
        width: 100%;
        z-index: 0;
        transform: skew(-22deg);
        background-color: $primarycolor;
    }
    p {
        position: relative;
        z-index: 555;

    }
}
.bgTriangleSecond {
    position: relative;
    &::before {
        top: 0px;
        left: -12px;
        z-index: 0;
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        transform: skew(-22deg);
        background-color: $primarycolor;
    }
    &::after {
        top: 0px;
       right: 0px;
        z-index: 0;
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $primarycolor;
    }
    p {
        position: relative;
        z-index: 555;
        
    }
}
.bgTriangleThird {
    &::after {
        content: "";
        height:100%;
        right: 0px;

    }
    &::before {
        content: "";
        height:100%;
    }
}
.bgTriangleFifth {
    &::after {
        content: "";
        height:100%;
        right: -15px;

    }
}
.bgTriangle4 {
    &::after {
        content: "";
background-color: $thirdcolor;

    }
    &::before {
        background-color:$thirdcolor;
        content: "";

    }
}
@media screen and (max-width: 768px) {
    .bgTriangle {
        &::after {
            background-color: white;
            width: 0px;
            height: 0px;
        }
    }
    .sendQuestion {
        
            li {
                width: 45% !important;
            }
        
        
    }
    .bgTriangleSecond {
        &::before {
            background-color: white;
            width: 0px;
            height: 0px;
        }
        &::after {
            background-color: white;
            width: 0px;
            height: 0px;
        }
    }
    .bgTriangleThird
    {
        &::before {
            background-color: white;
            width: 0px;
            height: 0px;
        }
        &::after {
            background-color: white;
            width: 0px;
            height: 0px;
        }
    }
    .bgTriangleFifth {
        &::before {
            background-color: white;
            width: 0px;
            height: 0px;
        }
        &::after {
            background-color: white;
            width: 0px;
            height: 0px;
        } 
    }
}
@media screen and (max-width:1280px) {
    .sendQuestion {
        li {
            width: 30% !important;
        }
    }

}
@media screen and (max-width:1200px) {
    .bgTriangle {
        &::after {
            height: 100%
        }
    }
    .bgTriangleSecond {
        &::before {
           height: 100%;
        }
    }
}
@media screen and (max-width:1004px) {
    .bgTriangleSecond {
        &::before {
            left:-46px; 
        }
    }

}
@media screen and (max-width:1119px) {
    .bgTriangleLeft {
        &::before {
            left:-20px; 
        }
    }

}
@media screen and (max-width:500px) {
    .sendQuestion {
            li {
                width: 95% !important;
            }
        }
        

}


@import 'header';
@import 'menu';
@import 'content';
@import 'additional';
@import 'rubrika';
@import 'tovhideCagirish';
@import 'tovhidnadi';
@import 'articles';
@import 'books';
@import 'ideologiya';
@import 'murcie';
@import 'photo';
@import 'photo2';
@import 'video';
@import 'video2';
@import 'audio';
@import 'audio2';
@import 'sualcavab';
@import 'forum';
@import 'forum2';
@import 'forum3';
@import 'conversation';
@import 'search';