$primarycolor:#2d6c93;
$secondarycolor:#d9edf7;
$thirdcolor:#aae1fa;


@font-face {
font-family: 'Calibri';
src: url('../font/Calibri.eot');
src: url('../font/Calibri.eot?#iefix') format('embedded-opentype'),
    url('../font/Calibri.woff') format('woff'),
    url('../font/Calibri.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
body {
    font-family: 'Calibri';
}

@import 'header';
@import 'menu';
@import 'content';
@import 'additional';
@import 'rubrika';
@import 'tovhideCagirish';
@import 'tovhidnadi';
@import 'meqaleler';
@import 'kitablar';
@import 'ideologiya';
@import 'murcie';
@import 'photo';
@import 'ovliyaliq';
@import 'video';
@import 'ateizm';
@import 'audio';
@import 'audiorafizi';
@import 'sualcavab';
@import 'page18';
